### Default .gitignore

## Editing
# Emacs
*#*
# Vim
*.swp
*~
# JetBrains
.idea

## Python
# Virtual envs
*venv
# Builds
build
dist
*.egg-info
# Bytecodes
__pycache__
*.pyc
*.pyo

## Java
*.class

## Other
# Windows
*.exe
# MacOS
.DS_Store

